.box-fl {
    transition: width .2s;
    -ms-flex-order: 1;
    -webkit-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}
.box-fr {
    transition: width .2s;
    -ms-flex-order: 3;
    -webkit-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3;
}
.left, .right {
    width: 238px;
}
.pe-list .project-sort {
    margin-top: 0px;
}
.box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.project-sort {
    width: 238px;
    min-height: 46px;
}
.project-sort .title {
    font-size: 16px;
    line-height: 46px;
    height: 46px;
    padding-right: 12px;
    padding-left: 20px;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: -webkit-linear-gradient(left,rgba(78,170,76,.5),rgba(0,202,133,.5)),#4eaa4c;
    background: -o-linear-gradient(left,rgba(58, 144, 140, 0.5),rgba(107, 222, 222, 0.5)),#009688;
    background: linear-gradient(to right,rgba(58, 144, 140, 0.5),rgba(107, 222, 222, 0.5)),#009688;
}
.vertical {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.box-aw {
    min-width: 0;
    -webkit-transition: width .2s;
    transition: width .2s;
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.pe-list .project-sort .menus {
    padding: 10px 0;
}
.project-sort .menus {
    position: relative;
    z-index: 100;
    padding: 10px 0;
    background: linear-gradient(to bottom,#009688,#009688);
}
.project-sort .menus .item {
    overflow: hidden;
}
.project-sort .menus .menu.active, .project-sort .menus .menu.selected, .project-sort .menus .menu:hover {
    background: rgba(17,112,35,.2);
}
.project-sort .menus .menu {
    font-size: 14px;
    height: 30px;
    padding-left: 20px;
    cursor: pointer;
    transition: all .4s;
    color: #fff;
}
.project-sort .menus .ic {
    margin-right: 13px;
}
.box-aw {
    min-width: 0;
    -webkit-transition: width .2s;
    transition: width .2s;
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
span.box-aw, span.box-fl, span.box-fr {
    display: inline-block;
}
.project-sort .menus .drop {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 236px;
    display: none;
    height: 100%;
    transition: opacity .3s;
    opacity: 0;
}
.project-sort .menus .sort-list {
    overflow: hidden;
    width: 670px;
    padding: 20px;
    background: 0 0;
}
.project-sort .menus .sort-list a {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    float: left;
    min-width: 33%;
    max-width: 33%;
    color: #4a4a4a;
    text-decoration:none;
}
.project-sort .menus .sort-list a .num {
    color: #898989;
}
.project-sort .menus .drop.open {
    display: block;
    opacity: 1;
}
.project-sort .menus .drop-mask {
    position: absolute;
    z-index: 10;
    top: -2px;
    left: 236px;
    width: 724px;
    height: 502px;
    transition: all .5s;
    display:none;
    opacity: 0;
    border: 2px solid #009688;
    background: #fff;
}
.project-sort .menus .drop-mask.open {
    display:block;
    opacity: 1;
}
.left .panel-wrapper {
    margin-right: 20px;
}
.left .panel-heading, .right .panel-heading {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.panel-wrapper .panel-heading {
    box-shadow: none;
}
.panel-heading {
    -webkit-box-shadow: 0 1px 0 #efefef;
    box-shadow: 0 1px 0 #efefef;
}
.left .panel-heading .title, .right .panel-heading .title {
    font-size: 14px;
}
.author-list .author {
    padding: 8px 0;
}
.author-list .author a {
    color: #4a4a4a;
}
.pe-project a {
    opacity: .85;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.author-list .author img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    display: block;
}
.panel-body img {
    display: block;
}
.box-aw {
    min-width: 0;
    -webkit-transition: width .2s;
    transition: width .2s;
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.author-list .author .name {
    color: #111111;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.panel-body a {
    opacity: .85;
    -webkit-transition: color .2s;
    transition: color .2s;
    text-decoration: none;
}
.author-list .author .book {
    font-size: 12px;
    color: #6A6A6A;
}
.author-list .author a {
    color: #4a4a4a;
}
.panel-wrapper .panel-heading {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.panel-wrapper .panel-heading {
    box-shadow: none;
}
.panel-heading {
    -webkit-box-shadow: 0 1px 0 #efefef;
    box-shadow: 0 1px 0 #efefef;
}
.panel-wrapper .panel-heading a {
    color: #9D9D9D;
    font-size: 12px;
    display: inline-block;
}
span.box-aw, span.box-fl, span.box-fr {
    display: inline-block;
}
.newest .item {
    margin-bottom: 10px;
    display: block;
}
.newest .title {
    color: #000000;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newest .summary {
    color: #9B9B9B;
    max-height: 4.5em;
    overflow: hidden;
    line-height: 17px;
}
.newlist,.newcommentlist{
    font-size:12px;
}
.newcommentlist .item {
    font-size: 12px;
    margin-bottom: 10px;
}
.newcommentlist .item img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 7px;
    max-width: 100%;
}
.newcommentlist .item .from {
    color: #9B9B9B;
    white-space: nowrap;
}
.newcommentlist .item .com-cont {
    color: #4A4A4A;
    line-height: 17px;
    word-wrap: break-word;
}
.newcommentlist .item .from a {
    color: #9B9B9B;
}

.author-list .author .book a .num {
    color: #898989;
}
.author-list .author .call {
    color: #111111;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}